{
  "sourceMaps": "inline",
  "retainLines": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 6
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ]
}
